{% for chat in chats %}
	{{ allmega_render_dashboard_box_item({
			'content': include(params.path ~ 'inc/_dashboard_messages.html.twig'),
			'title': {'content': chat.title},
		})
	}}
{% else %}
	{{ 'message.empty'|trans({}, params.domain) }}
{% endfor %}