{% for message in chat.messages %}
    <p>{{ message.created|allmega_is_new }} {{ message.author.fullname }}</p>
    <div>{{ message.text|slice(0,200) }}</div>
    {% if not loop.last %}<hr>{% endif %}
{% endfor %}