{{ allmega_render_link({
 		'icon': unreaded ? 'envelope-open-text' : 'envelope',
		'title': 'chat.list'|trans({}, params.domain),
		'path': path(params.route ~ 'index'),
		'css': 'dropdown-item',
	})
}}