{% extends "@AllmegaMessage/layout.html.twig" %}

{% block title %}
    {{ 'message.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_layout.html.twig') }}
{% endblock %}